// Fonts
@font-face {
  font-family: 'atten_newregular';
  src: url('../assets/fonts/attennewregular-webfont.woff2') format('woff2'),
  url('../assets/fonts/attennewregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'atten_newbold';
  src: url('../assets/fonts/attennewbold-webfont.woff2') format('woff2'),
  url('../assets/fonts/attennewbold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'atten_newbook';
  src: url('../assets/fonts/attennewbook-webfont.woff2') format('woff2'),
  url('../assets/fonts/attennewbook-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'atten_newmedium';
  src: url('../assets/fonts/attennewmedium-webfont.woff2') format('woff2'),
  url('../assets/fonts/attennewmedium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'atten_newextrabold';
  src: url('../assets/fonts/attennewextrabold-webfont.woff2') format('woff2'),
  url('../assets/fonts/attennewextrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: "AmazObitaemOstrovV.2";
  src: url("../assets/fonts/AmazOOSTROVv_2.eot?") format("eot"),
  url("../assets/fonts/AmazOOSTROVv_2.woff") format("woff"),
  url("../assets/fonts/AmazOOSTROVv_2.ttf") format("truetype"),
  url("../assets/fonts/AmazOOSTROVv_2.svg#AmazObitaemOstrovV.2") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
font-family: 'Permanent Marker';
font-style: normal;
font-weight: normal;
src: local('Permanent Marker'), url('../assets/fonts/PermanentMarker.woff') format('woff');
}
@font-face {
font-family: 'Yeseva One Regular';
font-style: normal;
font-weight: normal;
src: local('Yeseva One Regular'), url('../assets/fonts/YesevaOne-Regular.woff') format('woff');
}
@import "variables";
//@import "testimonials";
@import "footer";
@import "header";
@import "whatwedo";
@import "about";
@import "knowledge";
@import "common";
@import "contact";
@import "casestudy";
@import "legal";

//all the styling code will go here
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
  background-color: $white;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: $yellow;
}
body {
  font-family: 'atten_newregular', sans-serif;
  font-size: 14px;
  background-color: $yellow;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
  }
}
p, h1, h2, h3, h4, h5 {
  margin: 0;
}
.accounting-section {
  padding: 80px 0px 210px;
  background-color: $white;
  width: calc(100% - 1.953125vw);
  overflow: hidden;
  @media (max-width: $small-tablet) {
    padding: 50px 25px;
    width: 100%;
  }
  .accounting-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2.7994791666666665vw;
    position: relative;
    margin-left: auto;
    width: calc(100% - 13.671875vw);
    &:after {
      content: "";
      position: absolute;
      right: 0px;
      top: 70%;
      transform: translateY(-50%);
      width: 30%;
      height: 39.787798408488065vh;
      z-index: 2;
      background: linear-gradient(90deg, rgba(255,255,255,0.2) 0%, #ffffff 80%);
      @media (max-width: $small-tablet) {
      display: none;
      }
    }
    @media (max-width: $small-tablet) {
      justify-content: center;
      align-items: center;
    }
    .title-wrapper {
      max-width: 345px;
      @media (max-width: $small-tablet) {
        max-width: 100%;
      }
      h4 {
        color: $black;
        font-family: 'atten_newregular', sans-serif;
        font-size: 34px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 40px;
      }
    }
    .accounting-content {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 4.622395833333333vw;
      @media (max-width: $small-tablet) {
        flex-direction: column;
      }
      .image-wrapper {
        width: 19.140625vw;
        height: 37.6657824933687vh;
        @media (max-width: $small-tablet) {
          width: 100%;
        }
        .item-image{
          width: 100%;
          height: 100%;
          //transition: opacity 2s linear;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          left: 0;
          top: 0;
          //display: flex;
          //justify-content: center;
          //align-items: center;
          //font-size: 100px;
          //color: #fff;
          &.on{
            opacity: 1;
            visibility: visible;
          }
        }
      }
      .slider-wrapper {
        //width: calc(100% - 365px);
        overflow: hidden;
        @media (max-width: $small-tablet) {
          width: 100%;
        }
        .item-wrapper{
          display: flex;
          justify-content: flex-start;
          align-items: stretch;
          gap: 11.71875vw;
          transition: all 1s linear;
          right: 0;
          position: relative;
          .item{
            width: 22.786458333333332vw;
            p{
              color: $black-80;
              font-family: 'atten_newregular', sans-serif;
              font-size: 1.2369791666666667vw;
              letter-spacing: 0;
              line-height: 1.8880208333333333vw;
            }
          }
        }
        .next-btn {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          box-shadow: none;
          border: none;
          outline: none;
          background-color: transparent;
          padding: 0;
          .carousel-control-next-icon {
            position: relative;
            background-size: contain !important;
            background-position: center center !important;
            background-repeat: no-repeat !important;
            width: 40px;
            background-color: $yellow;
          }
        }
        .owl-stage {
          //display: flex;
          //justify-content: flex-start;
          //align-items: center;
          //gap: 180px;
          .owl-item {
            //width: 350px !important;
            .item{
              //padding-left: 10px;
              margin-right: 115px;
              p{
                color: $black-80;
                font-family: 'atten_newregular', sans-serif;
                font-size: 19px;
                letter-spacing: 0;
                line-height: 29px;
                width: 350px;
                height: 171px;
              }
            }
          }
        }
        .owl-nav {
          position: absolute;
          top: 50%;
          left: 435px;
          transform: translateY(-50%);
          button{
            position: relative;
            width: 40px;
            height: 40px;
            &.owl-next {
              background-color: $yellow;
            }
            &.owl-prev {
              background-color: $black;
            }
          }
        }
      }
      .button-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        .buttonBox{
          height: 5.208333333333333vw;
          width: 10.610079575596817vh;
          cursor: pointer;
          z-index: 9999;
          position: absolute;
          .slider-arrow{
            height: 100%;
            width: 100%;
            position: relative;
            transition: all .5s linear;
            .arrow-image{
              visibility: visible;
              opacity: 1;
              transition: none;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              &.off{
                visibility: hidden;
                opacity: 0;
              }
              &.before{
                height: 6.896551724137931vh;
                width: 3.3854166666666665vw;
              }
              &.after{
                height: 10.344827586206897vh;
                width: 5.078125vw;
              }
            }
          }
          &#goto1,
          &#backTo2{
            left: -7.1406vw ;
            display: none;
            .slider-arrow{
              transform: rotate(180deg);
            }
          }
          &#goto2{
            right: 34%;
          }
          &#goto3{
            right: 34%;
            display: none;
            &.fadeOff{
              opacity: 0.2;
              pointer-events: none;
            }
          }
        }
      }
    }
  }
}
.recruitment-section {
  padding: 127px 0 114px 158px;
  overflow: hidden;
  @media (max-width: $small-tablet) {
    padding: 50px 25px;
  }
  .recruitment-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $small-tablet) {
      flex-direction: column;
    }
    .recruitment-content {
      width: 40%;
      @media (max-width: $small-tablet) {
        width: 100%;
      }
      h4 {
        color: $black;
        font-family: 'atten_newregular', sans-serif;
        font-size: 34px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 40px;
        margin-bottom: 45px;
        max-width: 273px;
      }

      p {
        color: $black-80;
        font-family: 'atten_newregular', sans-serif;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 28px;
        margin-bottom: 30px;
      }
    }

    .recruitment-image {
      width: 60%;
      display: flex;
      justify-content: flex-end;
      @media (max-width: $small-tablet) {
        flex-direction: column;
        width: 100%;
      }
      .image-wrapper {
        height: 768.67px;
        width: 767.55px;
        position: relative;
        right: -50px;
        @media (max-width: $small-tablet) {
          width: 100%;
          height: 100%;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        .overview-items {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;


          .item {
            cursor: pointer;
            border-radius: 50px;
            position: absolute;
            width: 46px;
            height: 46px;
            background-color: #000;
            box-shadow: 0px 0px 1px 1px #0000001a;
            animation: pulse-animation 2s infinite;
            opacity: 0;
            z-index: 2;
            @keyframes pulse-animation {
              0% {
                box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.4);
              }
              100% {
                box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
              }
            }
            &.one {
              top: 63px;
              left: 332px;
              &:hover{
                opacity: 1;
              }
            }

            &.two {
              top: 200px;
              left: 215px;
              &:hover{
                opacity: 1;
              }
            }

            &.three {
              top: 260px;
              left: 92px;
              &:hover{
                opacity: 1;
              }
            }

            &.four {
              bottom: 319px;
              left: 33px;
              &:hover{
                opacity: 1;
              }
            }

            &.five {
              bottom: 100px;
              left: 272px;
              &:hover{
                opacity: 1;
              }
            }
            &.six {
              bottom: -3px;
              right: 348px;
              &:hover{
                opacity: 1;
              }
            }

            &.seven {
              bottom: 20px;
              right: 147px;
              &:hover{
                opacity: 1;
              }
            }
            &.show{
              opacity: 1;
            }
          }

          .desc {
            display: none;
            width: 367px;
            min-height: 150px;
            transition: opacity .3s ease-in;
            position: absolute;
            background-color: $black;
            padding: 20px 30px;
            border-radius: 10px;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            gap: 10px;
            p {
              color: $white;
              font-family: 'atten_newregular', sans-serif;
              font-size: 20px;
              font-weight: 300;
              letter-spacing: 0;
              line-height: 28px;
            }
            .next-btn {
              cursor: pointer;
              display: flex;
              justify-content: flex-end;
              align-items: flex-end;
              width: 100%;
              color: $yellow;
              font-family: 'atten_newextrabold', sans-serif;
              font-size: 13px;
              font-weight: 800;
              letter-spacing: 1.3px;
              line-height: 28px;
              text-transform: uppercase;
            }
            .close-box {
              cursor: pointer;
              position: absolute;
              top: 16px;
              right: 16px;
              transition: color 0.25s ease-in;
              color: $white-50;
              &:hover {
                color: $white;
                transition: color 0.25s ease-in;
              }
            }
            &.show {
              display: flex;
              transition: opacity 0.4s ease-out;
            }
            &.one {
              top: 135px;
              right: 80px;
            }
            &.two {
              top: 250px;
              right: 140px;
            }
            &.three {
              top: 310px;
              left: 140px;
            }
            &.four {
              bottom: 120px;
              left: 75px;
            }
            &.five {
              bottom: -70px;
              left: -95px;
            }
            &.six {
              bottom: 55px;
              right: 390px;
            }
            &.seven {
              bottom: 70px;
              right: 200px;
            }
          }
        }
      }
    }

  }
}
.service-wrapper {
  padding: 0 25px 0;
  margin-bottom: -200px;
  @media (max-width: $small-tablet) {
    margin-bottom: 0px;
    padding: 0 25px;
  }
  &.casestuday-tabs
  {
    margin-bottom: 0;
    .tabs-wrapper {
      width: 100%;
      top: 0px ;

      @media (max-width: $large-laptop) {
        width: 100%;
      }
      .nav-pills
      {
        gap: 25px;
        margin-bottom: 150px;
        width: 100%;
        flex-direction: row;
        @media (max-width: $small-laptop) {
          gap: 50px;
        }
        .nav-item
        {
          width: auto;
          .nav-link
          {
            overflow: visible;
            padding: 0 0;
              .tool{
          z-index: inherit;
          position: relative;
          }
          &.active {

            &:after {
              background-color: transparent;
            }
          }



          }


          }

        }

      }

      .tab-content {
        padding: 0 ;
        background-color: transparent;
        width: 70%;
        margin: 0 auto;
        position: relative;
        @media (max-width: $small-laptop) {
          width: 100%;
        }


    }
  }

}
.service-wrapper{
  .image-wrapper {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px);
    .service-image-outer{
      width: 100%;
      height: 100%;
      background-color: $black;
      position: absolute;
      left: 0;
      top: 0;
      transition: all 1s linear;
      .service-image {
        width: 100%;
        height: 100%;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        background-attachment: fixed
      }
      &:last-child{
        .service-image{
          &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 70%;
            background: linear-gradient(0deg, $black 0%, rgba(255,255,255,0) 100%);
          }
        }
      }
      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        color: $white;
        font-family: 'atten_newregular', sans-serif;
        font-size: 41px;
        font-weight: 300;
        letter-spacing: -1px;
        line-height: 48px;
        text-align: center;
      }
      &#image2{
        display: none;
      }
    }
  }
}

.tabs-wrapper {
    margin: 0 auto 50px;
    width: 70%;
    position: relative;
    top: -200px;
    @media (max-width: $small-tablet) {
      width: 100%;
      margin: 50px auto ;
      top: 0;
    }
    .nav-pills {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 32px;
      margin-bottom: 55px;
      @media (max-width: $small-tablet) {
        flex-direction: column;
        width: 100%;
        gap: 15px;
      }
      .slider{
        display: inline-block;
        width: 30px;
        height: 100%;
        border-radius: 50px;
        background-color:$activeTabBG;
        position: absolute;
        bottom: 0;
        transition: all 0.3s ease-in;
      }
      .nav-item{
        @media (max-width: $small-tablet) {
          width: 100%;
        }
        .nav-link {
          color: $white;
          font-family: 'atten_newregular', sans-serif;
          font-size: 19px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 23px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
          height: 60px;
          padding: 0 32px;
          background-color: transparent;
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
          overflow: hidden;
          position: relative;
          span{
            z-index: 2;
            position: relative;
          }
          @media (max-width: $small-tablet) {
            height: 50px;
            width: 100%;
          }
          &:hover {
            opacity: 0.5;
            transition: 0.2s ease-in;
          }
          &.active {
            &:hover {
              opacity: 1;
            }
            span{
              color: $activeTabText;
            }
          }
        }
      }

    }
    .tab-content {
      background-color: $white;
      position: relative;
      padding: 75px 70px 120px;
      @media (max-width: $small-tablet) {
        padding: 25px;
      }
      .tab-pane {
        .tab-text{
          @media (max-width: $small-tablet) {
           margin-bottom: 25px;
          }
          p {
            color: $black-80;
            font-family: 'atten_newregular', sans-serif;
            font-size: 19px;
            font-weight: 300;
            letter-spacing: 0;
            line-height: 29px;
          }
        }
      }
      .find-more {
        position: absolute;
        width: 357px;
        right: -40px;
        bottom: -50px;
        @media (max-width: $small-tablet) {
          right: 0;
          bottom: 0;
          margin: 0 auto;
          width: 100%;
          position: relative;
        }
        a {
          color: $white;
          background-color: $bule;
          font-family: "atten_newregular", sans-serif;
          font-size: 22px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 29px;
          display: block;
          width: 100%;
          height: 100%;
          padding: 22px 40px 32px 31px;
          position: relative;
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
          z-index: 1;
          @media (max-width: $small-tablet) {
            padding: 15px;
            font-size: 18px;
          }
          span{
            z-index: 2;
            position: relative;
          }
          &:hover, &:active,  &:focus{
            background-color: $bule;
            color: $white;
          }
          &.slide-white{
            &:before {
              content: "";
              position: absolute;
              background: $white;
              bottom: 0;
              left: 0;
              right: 0;
              top: 100%;
              z-index: -1;
              transition: top 0.18s ease-out;
              width: 100%;
            }
            &:hover, &:active,  &:focus{
              &:before {
                top: 0;
                background-color: $white;
              }
              color: $dark-grey !important;
            }
          }
        }
      }
    }
  }

