@font-face {
  font-family: atten_newregular;
  src: url("attennewregular-webfont.a9c6684f.woff2") format("woff2"), url("attennewregular-webfont.2a83f657.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: atten_newbold;
  src: url("attennewbold-webfont.cd93333c.woff2") format("woff2"), url("attennewbold-webfont.cd4bf997.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: atten_newbook;
  src: url("attennewbook-webfont.76d22210.woff2") format("woff2"), url("attennewbook-webfont.699be646.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: atten_newmedium;
  src: url("attennewmedium-webfont.225d98f1.woff2") format("woff2"), url("attennewmedium-webfont.554a97fa.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: atten_newextrabold;
  src: url("attennewextrabold-webfont.4d6528b7.woff2") format("woff2"), url("attennewextrabold-webfont.78641126.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: AmazObitaemOstrovV\.2;
  src: url("AmazOOSTROVv_2.dd400886.eot") format("eot"), url("AmazOOSTROVv_2.99b32159.woff") format("woff"), url("AmazOOSTROVv_2.f7f9c469.ttf") format("truetype"), url("AmazOOSTROVv_2.6de03ff2.svg#AmazObitaemOstrovV.2") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Permanent Marker;
  font-style: normal;
  font-weight: normal;
  src: local(Permanent Marker), url("PermanentMarker.47df4337.woff") format("woff");
}

.owl-carousel .owl-item {
  transition: all .3s ease-in-out;
}

.owl-carousel .owl-item .card {
  padding: 30px;
  position: relative;
}

.owl-carousel .owl-stage-outer {
  overflow-y: auto !important;
}

.owl-carousel .owl-stage-outer .owl-stage {
  align-items: center;
  display: flex;
}

.owl-carousel .owl-item {
  text-align: center;
}

.owl-carousel .owl-item .card-img {
  width: 65px;
  height: 65px;
  border-radius: 6px;
  margin: -35px auto 16px;
}

.owl-carousel .owl-item .card {
  opacity: .6;
  padding: 2px;
  font-family: Poppins, sans-serif;
  transition: all .3s ease-in-out;
  transform: scale3d(.8, .8, .8);
}

.owl-carousel .owl-item .card .gradient-border {
  padding: 0;
}

.owl-carousel .owl-item .card .gradient-border .gradient-border-inner {
  padding: 16px 16px 40px;
}

.owl-carousel .owl-item .card .gradient-border .gradient-border-inner p.testimonial {
  letter-spacing: -.07px;
  text-align: center;
  color: #000;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.64;
  display: -webkit-box;
  overflow: hidden;
}

.owl-carousel .owl-item .card .gradient-border .avatar-wrapper {
  width: 66px;
  height: 66px;
  background: linear-gradient(to top, #78dfdf, #b2a3d2, #78dfdf, #b2a3d2) padding-box padding-box;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
}

.owl-carousel .owl-item .card .gradient-border .avatar-wrapper .avatar {
  width: 62px;
  height: 62px;
  background-color: #f5f7fa;
  border-radius: 50px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.owl-carousel .owl-item .card .light-blue-bg {
  width: 300px;
  background-color: #76c6cc00;
  border-radius: 0 0 30px 30px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 10px;
}

.owl-carousel .owl-item .card .author-name {
  text-align: center;
  color: #000;
  margin: 0 0 8px;
  font-size: 20px;
  font-weight: 500;
}

.owl-carousel .owl-item .card .author-role {
  text-align: center;
  color: #1ae5cd;
  margin: 0 0 3px;
  font-family: Poppins;
  font-size: 14px;
}

.owl-carousel .owl-item .card .author-company {
  text-align: center;
  color: #949595;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
}

.owl-carousel .owl-item.active.center .card {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.owl-carousel .owl-item.active.center .card .gradient-border {
  padding: 1px;
}

.owl-carousel .owl-item.active.center .card .gradient-border .gradient-border-inner p.testimonial {
  display: initial;
  overflow: initial;
  -webkit-line-clamp: initial;
  -webkit-box-orient: initial;
}

.owl-carousel .owl-item.active.center .card .gradient-border .avatar-wrapper .avatar {
  background-color: #fff;
}

.owl-carousel .owl-item.active.center .card .light-blue-bg {
  background-color: #76c6cc12;
}

.owl-carousel .owl-nav {
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 32px;
  display: flex;
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
  width: 50px;
  height: 50px;
  color: #0000;
  background-color: #0000;
  border: 1px solid #06aeb8;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  transition: all .2s;
  position: relative;
  overflow: hidden;
}

.owl-carousel .owl-nav .owl-prev:before, .owl-carousel .owl-nav .owl-next:before {
  color: #06aeb8;
  font-family: var(--fa-style-family, "Font Awesome 6 Free");
  font-weight: var(--fa-style, 900);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-next:hover {
  color: #0000;
  background-color: #06aeb8;
}

.owl-carousel .owl-nav .owl-prev:hover:before, .owl-carousel .owl-nav .owl-next:hover:before {
  color: #fff;
}

.owl-carousel .owl-nav .owl-prev:before {
  content: "";
}

.owl-carousel .owl-nav .owl-next:before {
  content: "";
}

.owl-carousel .owl-dots {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.owl-theme .owl-dots .owl-dot span {
  height: 20px;
  opacity: .8;
  background: #2a6ba3 !important;
  border-radius: 2px !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  height: 13px;
  width: 13px;
  opacity: 1;
  transform: translateY(2px);
  background: #83b8e7 !important;
}

@media (min-width: 480.6px) and (max-width: 575.5px) {
  .owl-carousel .owl-item .card .name {
    left: 24%;
  }
}

@media (max-width: 360px) {
  .owl-carousel .owl-item .card .name {
    left: 30%;
  }
}

.footer-section .logo-section {
  background-color: #ffc200;
  padding: 230px 0;
}

@media (max-width: 550px) {
  .footer-section .logo-section {
    padding: 100px 25px;
  }
}

.footer-section .logo-section .logo-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: flex;
}

.footer-section .logo-section .logo-wrapper img {
  width: 55px;
}

.footer-section .logo-section .logo-wrapper span {
  text-transform: uppercase;
  color: #fff;
  font-family: atten_newregular, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.footer-section .footer-content {
  justify-content: center;
  align-items: stretch;
  display: flex;
}

@media (max-width: 768px) {
  .footer-section .footer-content {
    flex-direction: column;
  }
}

.footer-section .footer-content .dark-wrapper {
  width: 50%;
  background-color: #202020;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 25px;
  display: flex;
}

@media (max-width: 768px) {
  .footer-section .footer-content .dark-wrapper {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.footer-section .footer-content .light-wrapper {
  width: 50%;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 25px;
  display: flex;
}

@media (max-width: 768px) {
  .footer-section .footer-content .light-wrapper {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.footer-section .footer-content .top-wrapper {
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  display: flex;
}

@media (max-width: 680px) {
  .footer-section .footer-content .top-wrapper {
    height: auto;
    min-height: 300px;
    flex-direction: column;
    gap: 32px;
  }
}

@media (max-width: 550px) {
  .footer-section .footer-content .top-wrapper {
    min-height: auto;
  }
}

@media (max-width: 414px) {
  .footer-section .footer-content .top-wrapper {
    min-height: auto;
  }
}

.footer-section .footer-content .top-wrapper .left-wrapper {
  width: 50%;
}

@media (max-width: 680px) {
  .footer-section .footer-content .top-wrapper .left-wrapper {
    width: 100%;
  }
}

.footer-section .footer-content .top-wrapper .left-wrapper .address-wrapper:before {
  content: "";
  width: 1px;
  height: calc(100% + 45px);
  opacity: .1;
  background-color: #000;
  position: absolute;
  top: -22px;
  right: -80px;
}

@media (max-width: 680px) {
  .footer-section .footer-content .top-wrapper .left-wrapper .address-wrapper:before {
    display: none;
  }
}

.footer-section .footer-content .top-wrapper .right-wrapper {
  width: 50%;
}

@media (max-width: 680px) {
  .footer-section .footer-content .top-wrapper .right-wrapper {
    width: 100%;
  }
}

.footer-section .footer-content .top-wrapper .address-wrapper {
  max-width: 200px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  display: flex;
  position: relative;
}

@media (max-width: 680px) {
  .footer-section .footer-content .top-wrapper .address-wrapper {
    max-width: 100%;
  }
}

.footer-section .footer-content .top-wrapper .address-wrapper label {
  opacity: .6;
  color: #000;
  letter-spacing: .1px;
  margin-bottom: 10px;
  font-family: atten_newmedium, sans-serif;
  font-size: 16px;
  line-height: 23px;
}

.footer-section .footer-content .top-wrapper .address-wrapper a {
  color: #000;
  letter-spacing: .1px;
  margin-bottom: 30px;
  font-family: atten_newmedium, sans-serif;
  font-size: 22px;
  line-height: 23px;
}

.footer-section .footer-content .top-wrapper .address-wrapper p {
  color: #000;
  letter-spacing: .1px;
  margin-bottom: 20px;
  font-family: atten_newregular, sans-serif;
  font-size: 18px;
  line-height: 27px;
}

.footer-section .footer-content .bottom-wrapper .site-links {
  gap: 20px;
  display: flex;
}

@media (max-width: 550px) {
  .footer-section .footer-content .bottom-wrapper .site-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer-section .footer-content .bottom-wrapper .site-links li span {
  color: #fff;
  letter-spacing: 0;
  font-size: 13px;
  font-weight: bold;
  line-height: 23px;
}

.footer-section .footer-content .bottom-wrapper .site-links li a {
  color: #fff;
  letter-spacing: 0;
  font-size: 13px;
  font-weight: 300;
  line-height: 23px;
  transition: all .2s ease-in;
}

.footer-section .footer-content .bottom-wrapper .site-links li a:hover {
  color: #ffffff80;
}

.footer-section .footer-content .bottom-wrapper .social-links {
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  display: flex;
}

.footer-section .footer-content .bottom-wrapper .social-links li a {
  color: #000;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: all .2s ease-in;
  display: flex;
}

.footer-section .footer-content .bottom-wrapper .social-links li a:hover {
  color: #ffc200;
}

.header-section {
  padding: 32px 0;
}

@media (max-width: 992px) {
  .header-section {
    padding: 32px 25px;
  }
}

.header-section .navbar {
  justify-content: space-between;
  padding: 0;
}

.header-section .navbar .menu-wrapper .navbar-nav {
  align-items: center;
  gap: 20px;
}

.header-section .navbar .menu-wrapper .navbar-nav .nav-item .nav-link {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0;
  font-family: atten_newmedium;
  font-size: 14px;
  line-height: 17px;
  position: relative;
}

.header-section .navbar .menu-wrapper .navbar-nav .nav-item .nav-link:before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
  margin: 0 auto;
  transition: all .2s ease-in;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-section .navbar .menu-wrapper .navbar-nav .nav-item:hover .nav-link, .header-section .navbar .menu-wrapper .navbar-nav .nav-item.active .nav-link {
  color: #00000080;
}

.header-section .navbar .menu-wrapper .navbar-nav .nav-item:hover .nav-link:before, .header-section .navbar .menu-wrapper .navbar-nav .nav-item.active .nav-link:before {
  width: 35px;
  transition: all .2s ease-out;
}

.header-section .navbar .menu-wrapper .navbar-nav .nav-item:last-child .nav-link {
  color: #000;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
}

.header-section .navbar .menu-wrapper .navbar-nav .nav-item:last-child .nav-link:before {
  display: none;
}

.header-section .navbar .menu-wrapper .navbar-nav .nav-item:last-child:hover .nav-link, .header-section .navbar .menu-wrapper .navbar-nav .nav-item:last-child.active .nav-link {
  color: #000;
  opacity: .5;
}

.header-section .navbar .menu-wrapper .navbar-toggler {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  padding: 0;
}

.header-section .navbar.navbar-light .menu-wrapper .navbar-nav .nav-item .nav-link {
  color: #fff;
}

.header-section .navbar.navbar-light .menu-wrapper .navbar-nav .nav-item .nav-link:before {
  background-color: #ffc200;
}

.header-section .navbar.navbar-light .menu-wrapper .navbar-nav .nav-item:hover .nav-link, .header-section .navbar.navbar-light .menu-wrapper .navbar-nav .nav-item.active .nav-link {
  color: #ffffff80;
}

.header-section .navbar.navbar-light .menu-wrapper .navbar-nav .nav-item:last-child .nav-link {
  color: #000;
  background-color: #ffc200;
}

.header-section .navbar.navbar-light .menu-wrapper .navbar-toggler {
  border: 1px solid #fff;
}

@keyframes beat {
  to {
    transform: scale(1.3);
  }
}

.topbanner-bg-image {
  width: 100%;
  height: 100vh;
  background-image: url("media-banner-image.1f4b0e9d.jpg");
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.media-banner-section {
  padding: 90px 0 190px;
}

.media-banner-section .media-banner-wrapper {
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 75px;
  display: flex;
}

.media-banner-section .media-banner-wrapper .media-banner-content {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.media-banner-section .media-banner-wrapper .media-banner-content .mediabanner-logo {
  width: 55px;
}

.media-banner-section .media-banner-wrapper .media-banner-content h3 {
  color: #fff;
  font-family: Permanent Marker;
  font-size: 70px;
  line-height: 102px;
}

.media-creative-section {
  background-color: #fff;
  padding: 106px 250px 108px;
  position: relative;
}

.media-creative-section .media-creative-wrapper {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;
  display: flex;
}

.media-creative-section .media-creative-wrapper .media-creative-content-left p, .media-creative-section .media-creative-wrapper .media-creative-content-right p {
  color: #000c;
  letter-spacing: 0;
  padding-bottom: 35px;
  font-family: atten_newbook, sans-serif;
  font-size: 19px;
  line-height: 29px;
}

.media-creative-section .media-creative-wrapper .find-more {
  height: 104px;
  width: 357px;
  background-color: #007299;
  position: absolute;
  bottom: -10px;
  right: 100px;
}

.media-creative-section .media-creative-wrapper .find-more a {
  color: #fff;
  letter-spacing: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  font-family: atten_newregular, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 29px;
  display: block;
}

.media-creative-section .media-creative-wrapper .find-more a img {
  width: 60px;
  position: absolute;
  bottom: 15px;
  right: -32px;
}

.recruiting-tax-section {
  filter: progid:DXImageTransform. Microsoft. gradient(startColorstr= "#ffc200", endColorstr= "#000000", GradientType= 1);
  background: linear-gradient(0deg, #ffc200 0% 25%, #000 25% 100%);
  padding: 106px 250px 0;
  overflow: hidden;
}

.recruiting-tax-section h4 {
  color: #fff;
  letter-spacing: 0;
  max-width: 450px;
  margin-bottom: 45px;
  font-family: atten_newbook, sans-serif;
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
}

.recruiting-tax-section .outer-wrapper {
  background-color: #fff;
  padding: 75px;
}

.recruiting-tax-section .outer-wrapper .logo-wrapper {
  height: 40px;
  margin-bottom: 30px;
}

.recruiting-tax-section .outer-wrapper .recruiting-tax-wrapper {
  gap: 50px;
  display: flex;
}

.recruiting-tax-section .outer-wrapper .recruiting-tax-wrapper .recruiting-tax-content {
  width: 50%;
}

.recruiting-tax-section .outer-wrapper .recruiting-tax-wrapper .recruiting-tax-content p {
  color: #000c;
  letter-spacing: 0;
  margin-bottom: 30px;
  font-family: atten_newregular, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}

.recruiting-tax-section .outer-wrapper .recruiting-tax-wrapper .recruiting-tax-content p label {
  font-style: italic;
  font-weight: 500;
}

.recruiting-tax-section .outer-wrapper .recruiting-tax-wrapper .recruiting-tax-content p label span {
  padding-bottom: 25px;
  display: block;
}

.recruiting-tax-section .outer-wrapper .recruiting-tax-wrapper .recruiting-tax-content p label span b {
  font-weight: 900;
}

.recruiting-tax-section .next-bg {
  width: 100%;
  height: 53vh;
  padding: 30px;
  position: relative;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.recruiting-tax-section .next-bg:before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000 -100%, #fff0 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.recruiting-tax-section .next-bg.image-next {
  background-image: url("next-image.edbdf436.jpg");
}

.recruiting-tax-section .next-bg .button-text-wrapper {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recruiting-tax-section .next-bg .button-text-wrapper p {
  color: #fff;
  letter-spacing: -1px;
  text-align: center;
  padding-bottom: 50px;
  font-family: atten_newbook, sans-serif;
  font-size: 41px;
  font-weight: 300;
  line-height: 48px;
}

.topbanner-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.about-main-banner-section .scroll-down a span {
  color: #9facab;
}

.about-text-section {
  background-color: #ffc200;
  padding: 106px 250px 108px;
  position: relative;
}

.about-text-section .about-text-wrapper {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;
  display: flex;
}

.about-text-section .about-text-wrapper .about-content-left, .about-text-section .about-text-wrapper .about-content-right {
  width: 50%;
}

.about-text-section .about-text-wrapper .about-content-left p, .about-text-section .about-text-wrapper .about-content-right p {
  color: #000c;
  letter-spacing: 0;
  padding-bottom: 35px;
  font-family: atten_newbook, sans-serif;
  font-size: 19px;
  line-height: 29px;
}

.about-imagetext-section {
  padding: 0 0 70px;
}

.about-imagetext-section .content-wrapper {
  padding: 0 100px;
}

.about-imagetext-section .content-wrapper .image-wrapper {
  position: relative;
}

.about-imagetext-section .content-wrapper .image-wrapper .image {
  width: 70%;
  height: 517px;
  background-color: #fff;
  background-image: url("knowledge-king.d169cbf2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about-imagetext-section .content-wrapper .image-wrapper .mail-wrapper {
  width: 40%;
  z-index: 2;
  background-color: #fff;
  padding: 60px 78px 71px 71px;
  position: absolute;
  bottom: -130px;
  right: 0;
}

.about-imagetext-section .content-wrapper .image-wrapper .mail-wrapper p {
  color: #000c;
  letter-spacing: 0;
  padding-bottom: 30px;
  font-family: atten_newbook, sans-serif;
  font-size: 19px;
  font-weight: 300;
  line-height: 29px;
}

.about-imagetext-section .content-wrapper .image-wrapper .mail-wrapper .blue-button-wrapper {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: -40px;
}

.about-imagetext-section .content-wrapper .image-wrapper .mail-wrapper .blue-button-wrapper .image-container {
  height: 104px;
  width: 104px;
  display: inline-flex;
}

.about-imagetext-section .content-wrapper .image-wrapper .mail-wrapper .blue-button-wrapper .find-more {
  height: 104px;
  width: 325px;
  background-color: #007299;
  position: absolute;
  bottom: 0;
  right: 57px;
}

.about-imagetext-section .content-wrapper .image-wrapper .mail-wrapper .blue-button-wrapper .find-more a {
  color: #fff;
  letter-spacing: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  font-family: atten_newregular, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 29px;
  display: block;
}

.about-imagetext-section .content-wrapper .image-wrapper .mail-wrapper .blue-button-wrapper .find-more a img {
  width: 60px;
  position: absolute;
  bottom: 15px;
  right: -32px;
}

.knowldge-single {
  padding: 70px 0 0;
}

.knowldge-single .container .items-wrapper {
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0 100px;
  display: flex;
}

.knowldge-single .container .items-wrapper .items {
  width: 60%;
  flex-direction: column;
  gap: 25px;
  padding: 30px 0;
  display: flex;
}

.knowldge-single .container .items-wrapper .items h3 {
  letter-spacing: 0;
  font-size: 41px;
  font-weight: 300;
  line-height: 48px;
}

.knowldge-single .container .items-wrapper .items p {
  color: #000;
  letter-spacing: 0;
  text-transform: uppercase;
  font-family: atten_newregular, sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.knowldge-single .container .items-wrapper .items p span {
  color: #fff;
  padding-left: 10px;
}

.knowldge-single .container .black-area {
  width: 60%;
  background-color: #000;
  margin: 0 auto;
  padding: 60px;
}

.knowldge-single .container .black-area p {
  color: #fff;
  font-size: 19px;
  line-height: 29px;
}

.knowldge-single-text {
  padding: 0 0 70px;
}

.knowldge-single-text .container .outer {
  background-color: #fff;
  flex-flow: column;
  align-items: center;
  padding: 50px 0;
  display: flex;
}

.knowldge-single-text .container .outer .text-wrapper {
  width: 60%;
}

.knowldge-single-text .container .outer .text-wrapper h4 {
  padding: 15px 0;
  font-size: 19px;
  font-weight: bold;
}

.knowldge-single-text .container .outer .text-wrapper p {
  letter-spacing: 0;
  padding-bottom: 25px;
  font-size: 19px;
  line-height: 29px;
}

.knowledge-section {
  padding: 70px 0;
}

.knowledge-section .items-wrapper {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 64px 15px;
  padding: 0 100px;
  display: flex;
}

.knowledge-section .items-wrapper .items {
  width: calc(33.33% - 10px);
  border-left: 5px solid #fff;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  display: flex;
}

.knowledge-section .items-wrapper .items p {
  color: #000;
  letter-spacing: 0;
  text-transform: uppercase;
  font-family: atten_newregular, sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.knowledge-section .items-wrapper .items p span {
  color: #fff;
  padding-left: 10px;
}

.knowledge-section .items-wrapper .items h3 {
  color: #000;
  letter-spacing: 0;
  font-family: atten_newregular, sans-serif;
  font-size: 34px;
  line-height: 40px;
}

.knowledge-section .items-wrapper .items h3 a {
  padding-left: 5px;
}

.knowledge-section .items-wrapper .items h3 a img {
  width: 28px;
  object-fit: contain;
}

.knowledge-mail-section {
  padding: 70px 0 0;
}

.knowledge-mail-section .content-wrapper {
  padding: 0 100px;
}

.knowledge-mail-section .content-wrapper .image-wrapper {
  position: relative;
}

.knowledge-mail-section .content-wrapper .image-wrapper .image {
  width: 70%;
  height: 517px;
  background-color: #fff;
  background-image: url("knowledge-king.d169cbf2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.knowledge-mail-section .content-wrapper .image-wrapper .image p {
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 2;
  letter-spacing: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: atten_newregular, sans-serif;
  font-size: 41px;
  font-weight: 300;
  line-height: 48px;
  display: flex;
  position: relative;
}

.knowledge-mail-section .content-wrapper .image-wrapper .image:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #0009;
  position: absolute;
  top: 0;
  left: 0;
}

.knowledge-mail-section .content-wrapper .image-wrapper .mail-wrapper {
  width: 40%;
  z-index: 2;
  background-color: #fff;
  padding: 60px 78px 71px 71px;
  position: absolute;
  bottom: -50px;
  right: 0;
}

.knowledge-mail-section .content-wrapper .image-wrapper .mail-wrapper h4 {
  color: #000;
  letter-spacing: 0;
  margin-bottom: 42px;
  font-family: atten_newregular, sans-serif;
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
}

.knowledge-mail-section .content-wrapper .image-wrapper .mail-wrapper .input-wrapper {
  margin-bottom: 24px;
}

.knowledge-mail-section .content-wrapper .image-wrapper .mail-wrapper .input-wrapper .checkbox-wrapper {
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  display: flex;
}

.knowledge-mail-section .content-wrapper .image-wrapper .mail-wrapper .input-wrapper .checkbox-wrapper p {
  color: #000c;
  letter-spacing: 0;
  font-family: atten_newregular, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
}

.knowledge-mail-section .content-wrapper .image-wrapper .mail-wrapper .input-wrapper .checkbox-wrapper p a {
  color: #000c;
  text-decoration: underline;
}

.knowledge-mail-section .content-wrapper .image-wrapper .mail-wrapper .button-wrapper {
  justify-content: flex-end;
  display: flex;
}

.main-banner-section {
  padding: 90px 0 70px;
}

@media (max-width: 768px) {
  .main-banner-section {
    padding: 90px 25px;
  }
}

.knowledge-section {
  padding: 70px 0;
}

@media (max-width: 768px) {
  .knowledge-section {
    padding: 70px 25px;
  }
}

.knowledge-section .items-wrapper {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 64px 15px;
  padding: 0 100px;
  display: flex;
}

@media (max-width: 768px) {
  .knowledge-section .items-wrapper {
    padding: 0;
  }
}

.knowledge-section .items-wrapper .items {
  width: calc(33.33% - 10px);
  border-left: 5px solid #fff;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  display: flex;
}

@media (max-width: 992px) {
  .knowledge-section .items-wrapper .items {
    width: calc(50% - 10px);
    padding: 25px;
  }
}

@media (max-width: 550px) {
  .knowledge-section .items-wrapper .items {
    width: 100%;
  }
}

.knowledge-section .items-wrapper .items p {
  color: #000;
  letter-spacing: 0;
  text-transform: uppercase;
  font-family: atten_newregular, sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.knowledge-section .items-wrapper .items p span {
  color: #fff;
  padding-left: 10px;
}

.knowledge-section .items-wrapper .items h3 {
  color: #000;
  letter-spacing: 0;
  font-family: atten_newregular, sans-serif;
  font-size: 34px;
  line-height: 40px;
}

.knowledge-section .items-wrapper .items h3 a {
  padding-left: 5px;
}

.knowledge-section .items-wrapper .items h3 a img {
  width: 28px;
  object-fit: contain;
}

.knowledge-mail-section {
  padding: 70px 0 0;
}

@media (max-width: 992px) {
  .knowledge-mail-section {
    padding: 70px 25px;
  }
}

.knowledge-mail-section .content-wrapper {
  padding: 0 100px;
}

@media (max-width: 992px) {
  .knowledge-mail-section .content-wrapper {
    padding: 0;
  }
}

.knowledge-mail-section .content-wrapper .image-wrapper {
  position: relative;
}

.knowledge-mail-section .content-wrapper .image-wrapper .image {
  width: 65%;
  height: 517px;
  background-color: #fff;
  background-image: url("knowledge-king.d169cbf2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 992px) {
  .knowledge-mail-section .content-wrapper .image-wrapper .image {
    width: 100%;
  }
}

.knowledge-mail-section .content-wrapper .image-wrapper .image p {
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 2;
  letter-spacing: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: atten_newregular, sans-serif;
  font-size: 41px;
  font-weight: 300;
  line-height: 48px;
  display: flex;
  position: relative;
}

@media (max-width: 992px) {
  .knowledge-mail-section .content-wrapper .image-wrapper .image p {
    font-size: 34px;
  }
}

.knowledge-mail-section .content-wrapper .image-wrapper .image:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #0009;
  position: absolute;
  top: 0;
  left: 0;
}

.knowledge-mail-section .content-wrapper .image-wrapper .mail-wrapper {
  width: 45%;
  z-index: 2;
  background-color: #fff;
  padding: 60px 78px 71px 71px;
  position: absolute;
  bottom: -50px;
  right: 0;
}

@media (max-width: 992px) {
  .knowledge-mail-section .content-wrapper .image-wrapper .mail-wrapper {
    width: 100%;
    padding: 25px;
    position: relative;
    bottom: auto;
    right: auto;
  }
}

.knowledge-mail-section .content-wrapper .image-wrapper .mail-wrapper h4 {
  color: #000;
  letter-spacing: 0;
  margin-bottom: 42px;
  font-family: atten_newregular, sans-serif;
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
}

.knowledge-mail-section .content-wrapper .image-wrapper .mail-wrapper .input-wrapper {
  margin-bottom: 24px;
}

.knowledge-mail-section .content-wrapper .image-wrapper .mail-wrapper .input-wrapper .checkbox-wrapper {
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  display: flex;
}

.knowledge-mail-section .content-wrapper .image-wrapper .mail-wrapper .input-wrapper .checkbox-wrapper p {
  color: #000c;
  letter-spacing: 0;
  font-family: atten_newregular, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
}

.knowledge-mail-section .content-wrapper .image-wrapper .mail-wrapper .input-wrapper .checkbox-wrapper p a {
  color: #000c;
  text-decoration: underline;
}

.knowledge-mail-section .content-wrapper .image-wrapper .mail-wrapper .button-wrapper {
  justify-content: flex-end;
  display: flex;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0;
  }
}

.loader-section {
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: #ffc200;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.loader-section .loader-image {
  width: 110px;
  height: 110px;
  transform-origin: center;
  animation: 2s infinite alternate beat;
}

.loader-section .loader-image img {
  width: 100%;
}

.btn-blue {
  letter-spacing: .1px;
  background-color: #007299;
  border: none;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  font-family: atten_newmedium, sans-serif;
  line-height: 23px;
  transition: all .5s ease-out;
  display: inline-flex;
  color: #fff !important;
}

.btn-blue:hover, .btn-blue:active, .btn-blue:focus {
  color: #fff;
  background-color: #007299;
}

.btn-h57 {
  height: 57px;
  padding: 0 24px;
  font-size: 22px;
}

.btn-h51 {
  height: 57px;
  padding: 0 28px;
  font-size: 19px;
}

.btn-h30 {
  height: 30px;
  padding: 0 16px;
  font-size: 14px;
}

.cust-input {
  width: 100%;
  height: 60px;
  color: #000c;
  letter-spacing: 0;
  box-shadow: none;
  border: 1px solid #0000001a;
  outline: none;
  padding: 16px 22px;
  font-family: atten_newregular, sans-serif;
  font-size: 19px;
  line-height: 29px;
}

.overflow-hidden {
  overflow: hidden !important;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-0 {
  margin-bottom: 0;
}

.main-banner-section {
  padding: 90px 0 190px;
}

@media (max-width: 768px) {
  .main-banner-section {
    padding: 90px 25px;
  }

  .main-banner-section .container {
    padding: 0;
  }
}

.main-banner-section .banner-wrapper {
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 75px;
  display: flex;
}

@media (max-width: 768px) {
  .main-banner-section .banner-wrapper {
    flex-direction: column;
  }
}

.main-banner-section .banner-wrapper .banner-content {
  width: 50%;
  padding: 0 50px;
}

@media (max-width: 768px) {
  .main-banner-section .banner-wrapper .banner-content {
    width: 100%;
    padding: 0;
  }
}

.main-banner-section .banner-wrapper .banner-content .logo-wrapper {
  margin-bottom: 25px;
}

.main-banner-section .banner-wrapper .banner-content .text-wrapper {
  margin-bottom: 40px;
}

.main-banner-section .banner-wrapper .banner-content .text-wrapper h4 {
  color: #000;
  letter-spacing: 0;
  text-transform: uppercase;
  font-family: atten_newmedium, sans-serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 41px;
}

.main-banner-section .banner-wrapper .banner-content .text-wrapper p {
  color: #000c;
  letter-spacing: 0;
  max-width: 388px;
  margin-top: 37px;
  font-family: atten_newregular, sans-serif;
  font-size: 19px;
  line-height: 29px;
}

@media (max-width: 768px) {
  .main-banner-section .banner-wrapper .banner-content .text-wrapper p {
    max-width: 100%;
  }
}

.main-banner-section .banner-wrapper .banner-slider {
  width: 50%;
}

@media (max-width: 768px) {
  .main-banner-section .banner-wrapper .banner-slider {
    width: 100%;
  }
}

.main-banner-section .banner-wrapper .banner-slider .slider-inner .carousal-image {
  width: 100%;
  height: 450px;
  position: relative;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.main-banner-section .banner-wrapper .banner-slider .slider-inner .carousal-image:before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #0009;
  position: absolute;
  top: 0;
  left: 0;
}

.main-banner-section .banner-wrapper .banner-slider .slider-inner .carousal-image.image-1 {
  background-image: url("banner-image1.a4bb3140.jpg");
}

.main-banner-section .banner-wrapper .banner-slider .slider-inner .carousal-image.image-2 {
  background-image: url("banner-image2.c50bedac.jpg");
}

.main-banner-section .banner-wrapper .banner-slider .slider-inner .carousal-image.image-3 {
  background-image: url("banner-image3.fe158393.jpg");
}

.main-banner-section .banner-wrapper .banner-slider .slider-inner .carousal-image .carousel-caption {
  z-index: 2;
  margin: 0;
  padding: 0;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
}

.main-banner-section .banner-wrapper .banner-slider .slider-inner .carousal-image .carousel-caption h5 {
  letter-spacing: 0;
  font-family: AmazObitaemOstrovV\.2, sans-serif;
  font-size: 73px;
  line-height: 93px;
}

@media (max-width: 768px) {
  .main-banner-section .banner-wrapper .banner-slider .slider-inner .carousal-image .carousel-caption h5 {
    font-size: 33px;
    line-height: 53px;
  }
}

.main-banner-section .scroll-down {
  justify-content: center;
  align-items: center;
  display: flex;
}

.main-banner-section .scroll-down a {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: flex;
}

.main-banner-section .scroll-down a span {
  color: #fff;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 3px #0000004d;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(100deg, #000 0%, #555 100%);
  border-radius: 6px;
}

body {
  background-color: #ffc200;
  font-family: atten_newregular, sans-serif;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a, a:hover {
  text-decoration: none;
}

a:focus {
  outline-offset: 0;
  outline: none;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
}

.accounting-section {
  background-color: #fff;
  margin-right: 30px;
  padding: 80px 0 108px 210px;
}

@media (max-width: 768px) {
  .accounting-section {
    margin-right: 0;
    padding: 50px 25px;
  }
}

.accounting-section .accounting-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 43px;
  display: flex;
}

@media (max-width: 768px) {
  .accounting-section .accounting-wrapper {
    justify-content: center;
    align-items: center;
  }
}

.accounting-section .accounting-wrapper .title-wrapper {
  max-width: 345px;
}

@media (max-width: 768px) {
  .accounting-section .accounting-wrapper .title-wrapper {
    max-width: 100%;
  }
}

.accounting-section .accounting-wrapper .title-wrapper h4 {
  color: #000;
  letter-spacing: 0;
  font-family: atten_newregular, sans-serif;
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
}

.accounting-section .accounting-wrapper .accounting-content {
  justify-content: flex-start;
  align-items: center;
  gap: 71px;
  display: flex;
}

@media (max-width: 768px) {
  .accounting-section .accounting-wrapper .accounting-content {
    flex-direction: column;
  }
}

.accounting-section .accounting-wrapper .accounting-content .image-wrapper {
  width: 294px;
  height: 284px;
}

@media (max-width: 768px) {
  .accounting-section .accounting-wrapper .accounting-content .image-wrapper {
    width: 100%;
  }
}

.accounting-section .accounting-wrapper .accounting-content .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.accounting-section .accounting-wrapper .accounting-content .slider-wrapper {
  width: calc(100% - 365px);
}

@media (max-width: 768px) {
  .accounting-section .accounting-wrapper .accounting-content .slider-wrapper {
    width: 100%;
  }
}

.recruitment-section {
  padding: 127px 0 114px 158px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .recruitment-section {
    padding: 50px 25px;
  }
}

.recruitment-section .recruitment-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (max-width: 768px) {
  .recruitment-section .recruitment-wrapper {
    flex-direction: column;
  }
}

.recruitment-section .recruitment-wrapper .recruitment-content {
  width: 40%;
}

@media (max-width: 768px) {
  .recruitment-section .recruitment-wrapper .recruitment-content {
    width: 100%;
  }
}

.recruitment-section .recruitment-wrapper .recruitment-content h4 {
  color: #000;
  letter-spacing: 0;
  max-width: 273px;
  margin-bottom: 45px;
  font-family: atten_newregular, sans-serif;
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
}

.recruitment-section .recruitment-wrapper .recruitment-content p {
  color: #000c;
  letter-spacing: 0;
  margin-bottom: 30px;
  font-family: atten_newregular, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}

.recruitment-section .recruitment-wrapper .recruitment-image {
  width: 60%;
  justify-content: flex-end;
  display: flex;
}

@media (max-width: 768px) {
  .recruitment-section .recruitment-wrapper .recruitment-image {
    width: 100%;
    flex-direction: column;
  }
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper {
  height: 768.67px;
  width: 767.55px;
  position: relative;
  right: -50px;
}

@media (max-width: 768px) {
  .recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper {
    width: 100%;
    height: 100%;
  }
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .item {
  cursor: pointer;
  width: 46px;
  height: 46px;
  opacity: 0;
  z-index: 2;
  background-color: #000;
  border-radius: 50px;
  animation: 2s infinite pulse-animation;
  position: absolute;
  box-shadow: 0 0 1px 1px #0000001a;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 #0006;
  }

  100% {
    box-shadow: 0 0 0 20px #0000;
  }
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .item.one {
  top: 75px;
  left: 345px;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .item.one:hover {
  opacity: 1;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .item.two {
  top: 200px;
  left: 230px;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .item.two:hover {
  opacity: 1;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .item.three {
  top: 260px;
  left: 115px;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .item.three:hover {
  opacity: 1;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .item.four {
  bottom: 215px;
  left: 155px;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .item.four:hover {
  opacity: 1;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .item.five {
  bottom: 25px;
  left: 385px;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .item.five:hover {
  opacity: 1;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .item.six {
  bottom: 40px;
  right: 145px;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .item.six:hover {
  opacity: 1;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .desc {
  opacity: 0;
  width: 367px;
  min-height: 150px;
  background-color: #000;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 30px;
  transition: opacity .3s ease-in;
  display: flex;
  position: absolute;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .desc p {
  color: #fff;
  letter-spacing: 0;
  font-family: atten_newregular, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .desc a {
  width: 100%;
  color: #ffc200;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: atten_newextrabold, sans-serif;
  font-size: 13px;
  font-weight: 800;
  line-height: 28px;
  display: flex;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .desc.show {
  opacity: 1;
  transition: opacity .4s ease-out;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .desc.one {
  top: 135px;
  right: 80px;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .desc.two {
  top: 250px;
  right: 120px;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .desc.three {
  top: 305px;
  left: 165px;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .desc.four {
  bottom: 25px;
  left: 205px;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .desc.five {
  bottom: 80px;
  left: 20px;
}

.recruitment-section .recruitment-wrapper .recruitment-image .image-wrapper .overview-items .desc.six {
  bottom: 95px;
  right: 190px;
}

.service-wrapper {
  margin-bottom: -200px;
  padding: 0 25px;
}

@media (max-width: 768px) {
  .service-wrapper {
    margin-bottom: 0;
    padding: 0 25px;
  }
}

.service-wrapper .image-wrapper .service-image {
  width: 100%;
  height: 100vh;
  padding: 30px;
  position: relative;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.service-wrapper .image-wrapper .service-image:before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000 0%, #fff0 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.service-wrapper .image-wrapper .service-image.image-1 {
  background-image: url("services-image1.301989de.jpg");
}

.service-wrapper .image-wrapper .service-image.image-2 {
  background-image: url("services-image2.b9303a55.jpg");
  display: none;
}

.service-wrapper .image-wrapper .service-image p {
  color: #fff;
  letter-spacing: -1px;
  text-align: center;
  font-family: atten_newregular, sans-serif;
  font-size: 41px;
  font-weight: 300;
  line-height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-wrapper .tabs-wrapper {
  width: 70%;
  margin: 0 auto 50px;
  position: relative;
  top: -200px;
}

@media (max-width: 768px) {
  .service-wrapper .tabs-wrapper {
    width: 100%;
    margin: 50px auto;
    top: 0;
  }
}

.service-wrapper .tabs-wrapper .nav-pills {
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-bottom: 55px;
  display: flex;
}

@media (max-width: 768px) {
  .service-wrapper .tabs-wrapper .nav-pills {
    width: 100%;
    flex-direction: column;
    gap: 15px;
  }

  .service-wrapper .tabs-wrapper .nav-pills .nav-item {
    width: 100%;
  }
}

.service-wrapper .tabs-wrapper .nav-pills .nav-item .nav-link {
  color: #fff;
  letter-spacing: 0;
  text-align: center;
  height: 60px;
  background-color: #0000;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  font-family: atten_newregular, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 23px;
  display: flex;
}

@media (max-width: 768px) {
  .service-wrapper .tabs-wrapper .nav-pills .nav-item .nav-link {
    height: 50px;
    width: 100%;
  }
}

.service-wrapper .tabs-wrapper .nav-pills .nav-item .nav-link.active {
  color: #333;
  background-color: #bdccd6;
}

.service-wrapper .tabs-wrapper .tab-content {
  background-color: #fff;
  padding: 75px 70px 120px;
  position: relative;
}

@media (max-width: 768px) {
  .service-wrapper .tabs-wrapper .tab-content {
    padding: 25px;
  }

  .service-wrapper .tabs-wrapper .tab-content .tab-pane .tab-text {
    margin-bottom: 25px;
  }
}

.service-wrapper .tabs-wrapper .tab-content .tab-pane .tab-text p {
  color: #000c;
  letter-spacing: 0;
  font-family: atten_newregular, sans-serif;
  font-size: 19px;
  font-weight: 300;
  line-height: 29px;
}

.service-wrapper .tabs-wrapper .tab-content .tab-pane .find-more {
  height: 104px;
  width: 357px;
  background-color: #007299;
  position: absolute;
  bottom: -50px;
  right: -40px;
}

@media (max-width: 768px) {
  .service-wrapper .tabs-wrapper .tab-content .tab-pane .find-more {
    width: 100%;
    margin: 0 auto;
    position: relative;
    bottom: 0;
    right: 0;
  }
}

.service-wrapper .tabs-wrapper .tab-content .tab-pane .find-more a {
  color: #fff;
  letter-spacing: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  font-family: atten_newregular, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 29px;
  display: block;
}

@media (max-width: 768px) {
  .service-wrapper .tabs-wrapper .tab-content .tab-pane .find-more a {
    padding: 15px;
    font-size: 18px;
  }
}

.service-wrapper .tabs-wrapper .tab-content .tab-pane .find-more a img {
  width: 60px;
  position: absolute;
  bottom: 10px;
  right: -32px;
}

@media (max-width: 768px) {
  .service-wrapper .tabs-wrapper .tab-content .tab-pane .find-more a img {
    width: 34px;
    bottom: 15px;
    right: 15px;
  }
}

/*# sourceMappingURL=index.e8265c92.css.map */
